<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Edit Product</title>
</head>

<body>
    <div class="container mt-5">
        <h2>Edit Product</h2>
        <form action="/editProduct/<%= product._id %>" method="post">
            
            <div class="form-group">
                <label>Product Category:</label>
                <select name="productCategory" class="form-control">
                    <% productCategories.forEach(category => { %>
                        <option value="<%= category._id %>" <% if (product.productCategory && product.productCategory._id.equals(category._id)) { %> selected <% } %>><%= category.name %></option>
                    <% }) %>
                </select>
            </div>


            <div class="form-group">
                <label>Technical Name:</label>
                <select name="technicalName" class="form-control">
                    <% technicalNames.forEach(name => { %>
                        <option value="<%= name._id %>" <% if (product.technicalName && product.technicalName._id.equals(name._id)) { %> selected <% } %>><%= name.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group">
                <label>Trade Name:</label>
                <select name="tradeName" class="form-control">
                    <% tradeNames.forEach(name => { %>
                        <option value="<%= name._id %>" <% if (product.tradeName && product.tradeName._id.equals(name._id)) { %> selected <% } %>><%= name.name %></option>
                    <% }) %>
                </select>
            </div>
            
            <div class="form-group">
                <label>Brand Name:</label>
                <select name="brandName" class="form-control">
                    <% brandNames.forEach(brand => { %>
                        <option value="<%= brand._id %>" <% if (product.brandName && product.brandName._id.equals(brand._id)) { %> selected <% } %>><%= brand.name %></option>
                    <% }) %>
                </select>
            </div>
            
            <div class="form-group">
                <label>Pack Quantity:</label>
                <select name="packQuantity" class="form-control">
                    <% packQuantities.forEach(pack => { %>
                        <option value="<%= pack._id %>" <% if (product.packQuantity && product.packQuantity._id.equals(pack._id)) { %> selected <% } %>><%= pack.quantity %></option>
                    <% }) %>
                </select>
            </div>
            
            <div class="form-group">
                <label>Firm:</label>
                <select name="firm" class="form-control">
                    <% firms.forEach(firm => { %>
                        <option value="<%= firm._id %>" <% if (product.firm && product.firm._id.equals(firm._id)) { %> selected <% } %>><%= firm.name %></option>
                    <% }) %>
                </select>
            </div>
                

            <div class="form-group">
                <label>Invoice Cost:</label>
                <input type="number" name="invoiceCost" value="<%= product.invoiceCost %>" class="form-control">
            </div>

            <div class="form-group">
                <label>Pincode:</label>
                <input type="text" name="pincode" value="<%= product.pincode %>" class="form-control" maxlength="6" pattern="\d{6}" title="Enter a valid 6-digit pincode">
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/displayProducts" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
